@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
}

.btn-fa {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.btn-fa:hover {
  color: #666;
}

/* General styling */
body {
  background-color: #f8f9fa;
}

/* Navigation bar */
.navbar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Hero section */
.hero-section {
  height: calc(100vh - 62px);
  background-image: url("/assets/images/heroimage.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}


.hero-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: #1c2331;
  max-width: 80%;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* Buttons */
.btn-primary {
  background-color: #1c2331;
  border-color: #1c2331;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0a0e14;
  border-color: #0a0e14;
}

.booking-section {
  height: 80vh;
  background-image: url('/assets/images/booking.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.booking-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}


.booking-section h2 {
  color: #1c2331;
  font-weight: 700;
}

.booking-section form .form-control {
  border-radius: 5px;
  border: 1px solid
}